@import 'styles/default';

.cmp-form-phone {}
.cmp-form-phone__label {}
.cmp-form-phone__required {}
.cmp-form-phone__wrapper {}
.cmp-form-phone__country-code {}
.cmp-form-phone__number {}
.cmp-form-phone__help-block {}
.cmp-form-phone__error-block {}

